{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <style>
         body{
             background-color: #F8F8F8;
             margin: 0;
             font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
             font-size: 1rem;
             font-weight: 400;
             line-height: 1.5;
             color: #212529;
             text-align: left;
         }
     </style>
 {% endblock %}

{% block body %}
<section class="pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mt-3">
                    <div class="card-body">
                        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

                        {{ form_start(registrationForm) }}
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(registrationForm) }}
                        </div>
                        <div class="row">
                            <div class="form-control">
                                {{ form_row(registrationForm.email) }}
                            </div>
                            <div class="form-control">
                                {{ form_row(registrationForm.plainPassword) }}
                            </div>
                            <div class="form-control">
                                {{ form_row(registrationForm.choix) }}
                            </div>
                            <div class="form-control">
                            {{ form_row(registrationForm.agreeTerms) }}
                            </div>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-lg btn-primary">Register</button>
                            </div>
                        </div>
                        {{ form_end(registrationForm) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
