<form class="d-inline-block" method="post" action="{{ path('projet_delete', {'id': projet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projet.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i> Supprimer</button>

</form>
