{{ form_start(form) }}
<div class="row">
    <div class="col-md-8 order-2 order-md-1">
        <div class="row">
            <div class="col-md-8 mb-1">
                {{ form_label(form.titre)}}
                {{ form_widget(form.titre) }}
            </div>
            <div class="col-md-8 mb-1">
                {{ form_label(form.description)}}
                {{ form_widget(form.description) }}
            </div>
            <div class="col-md-8 mb-1">
                    <button class="btn btn-block btn-primary">{{ button_label|default('Créer un projet') }}</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
