{% extends 'base.html.twig' %}

{% block title %}Projet index{% endblock %}

 {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

    <style>
        .btn.btn-primary {
            background-color: #D56C3B !important;
            border-color: #D56C3B !important;
        }
        .btn {
            box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
            text-align: center;
        }
        table {
            border-spacing: 2px;
        }
        table thead th {
            border: none!important;
            text-align: center;
        }
        table td {
            text-align: center;
        }
        body{
            background-color: #2B2E34 !important;
        }
        h1{
            color: #D56C3B;
        }
    </style>
 {% endblock %}

{% block body %}
    {% include 'navbarBack.html.twig' %}
    <section class="mt-3">
        <div class="container">
            <div class="row align-items-center mb-3">
                <div class="col-md-6">
                    <h1>PROJETS</h1>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-md-6 text-right">
                        <a class="btn btn-primary" style="background-color: #D56C3B; border-color: #D56C3B" href="{{ path('projet_new') }}"><i class="fas fa-plus"></i> Créer un projet</a>
                    </div>
                {% endif %}
            </div>

            <table class="table table-striped table-bordered">
                <thead>
                <tr style="background-color: #FFFFFF">
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for projet in projets %}
                    <tr style="background-color: #FFFFFF">
                        <td>{{ projet.titre }}</td>
                        <td>{{ projet.description }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('projet_show', {'id': projet.id}) }}"><i class="fas fa-search-plus"></i><span> Voir</span></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-primary" href="{{ path('projet_edit', {'id': projet.id}) }}"><i class="fas fa-edit"></i><span> Modifier</span></a>
                            {% endif %}
                            {% if is_granted('ROLE_PRESTATAIRE') %}
                                <a class="btn btn-secondary colorchange sendUser" href="{{ path('projet_adduser', {'id': projet.id }) }}" ><i class="fas fa-check"></i><span> Envoyer une demande</span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun projet</td>
                    </tr>
                    {% endfor %}



                </tbody>
            </table>
        </div>
    </section>


{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">#}

{#        $( ".colorchange" ).click(function() {#}

{#            $(this).removeClass('btn-secondary');#}
{#            setTimeout($( this).addClass('btn-success'),3000);#}
{#        });#}
{#</script>#}
{% endblock %}


{#{% block javascripts %}#}
{#{{ parent() }}#}
{#    <script type="text/javascript">#}
{#        document.addEventListener("onclick", function (event) {#}
{#            var url = '{{ path('projet_adduser', {id: 'id_proj'}) }}';#}
{#            url.replace('id_proj', this.id)#}
{#            fetch("{{ path('projet_adduser', {id: projet.id}) }}").then(function(resp){#}
{#                return resp.json();#}
{#            }).then(function (response) {#}
{#                console.log(response);#}
{#            })#}
{#        })#}
{#    </script>#}
{#{% endblock %}#}
