<div class="container-fluid" style="background-color: white; text-align: center; min-height: 70vh; z-index: 0; position: relative;">
    <div class="row" style="position: relative">
        <!--<h1 style="margin-top: 1px; margin-left: 65px; font-size: 48px; position: absolute; top: -30px; left: 725px; color: white">
            <a href="{{ path('app_register') }}" style="color: white">
            S'INSCRIRE
            </a>
        </h1>-->
        <img src="{{ asset('../img/champi.png') }}" alt="champ" style="width: 20%;  position: absolute; z-index: 3; top: -120px; right: 100px;">
        <div class="col-12 col-md-3">
            <img src="{{ asset('../img/tdp.png') }}" alt="type" style="width: 100%; margin-top: 30px; right: 50px; position: absolute">
        </div>
        <div>
            <img src="{{ asset('../img/pain.png') }}" alt="pain" style="width: 10%;  position: absolute; z-index: 4; top: 80px; left: 500px; transform: rotate(-15deg);">
        </div>
        <div class="row">
            <img src="{{ asset('../img/slides.png') }}" alt="slides" style="width: 80%; margin-left: 200px; margin-top: 225px">
        </div>
        <br>
    </div>
</div>