{% extends 'base.html.twig' %}

{% block title %}E-learning{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

     <style>
         .tracking h3 {
             font-size: 1rem;
         }
         .tracking .list-inline-item:not(:last-child) {
             margin-right: 0;
         }
         .mb-4, .my-4 {
             margin-bottom: 1.5rem!important;
         }
         body {
             background-color: #2B2E34;
         }
         i{
             color: #FFFFFF;
         }
         h3{
             color: #FFFFFF;
         }
         p{
             color: #FFFFFF;
         }
     </style>
 {% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}

    {% block content %}
        <section class="mt-3">
            <div class="container">
                <div class="card">
                    <div class="card-body" style="background-color: #D56C3B">
                        <h1 class="h2 mb-5 text-center" style="color: #FFFFFF">Bienvenue dans votre espace E-learning</h1>
                        <ul class="row list-inline tracking">
                            <li class="col-md-4 list-inline-item">
                                <div class="text-center px-4">
                                    <div class="mb-4">
                                        <i class="fas fa-2x fa-user-plus"></i>
                                    </div>
                                    <div class="mb-4">
                                    <span class="check">
                                      <i class="fa fa-check"></i>
                                    </span>
                                    </div>
                                    <h3 class="text-uppercase mb-3">
                                        <span class="font-weight-bold">01.</span>
                                        Compte créé
                                    </h3>
                                    <p class="text-gray"><em>Votre compte a bien été créé</em></p>
                                </div>
                            </li>
                            <li class="col-md-4 list-inline-item">
                                <div class="text-center px-4">
                                    <div class="mb-4">
                                        <i class="fas fa-2x fa-laptop"></i>
                                    </div>
                                    <div class="mb-4">
                                    <span class="check active incoming">
                                      <i class="fas fa-times"></i>
                                    </span>
                                    </div>
                                    <h3 class="text-uppercase mb-3">
                                        <span class="font-weight-bold">02.</span>
                                        E-learning
                                    </h3>
                                    <p class="text-gray"><em>Début de la formation</em></p>
                                </div>
                            </li>
                            <li class="col-md-4 list-inline-item">
                                <div class="text-center px-4">
                                    <div class="mb-4">
                                        <i class="fas fa-2x fa-clipboard-check"></i>
                                    </div>
                                    <div class="mb-4">
                                    <span class="check active incoming">
                                      <i class="fas fa-times"></i>
                                    </span>
                                    </div>
                                    <h3 class="text-uppercase mb-3">
                                        <span class="font-weight-bold">03.</span>
                                        Validation
                                    </h3>
                                    <p class="text-gray"><em>Choisissez un projet</em></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}


{% endblock %}