{% block stylesheets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
<style>

</style>
{% endblock %}

<div class="container-fluid" id="section1" style="background-color: #D56C3B; margin: 0px; padding: .5rem 15px">
    <div class="row" style="position: relative">
        <div class="col-12 col-md-4 mt-3">
            <a href="https://twitter.com/weare148?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
                <img src="{{ asset('../img/twitter.png') }}" alt="twitter" height="40" style="margin-left: 50px">
            </a>
            <a href="https://www.instagram.com/weare148/?hl=fr" target="_blank">
                <img src="{{ asset('../img/instagram.png') }}" alt="instagram" height="40" style="margin-left: 50px">
            </a>
            <a href="https://fr.linkedin.com/company/agence-148" target="_blank">
                <img src="{{ asset('../img/linkedin.png') }}" alt="linkedin" height="40" style="margin-left: 50px">
            </a>
        </div>
        <div class="col-12 col-md-4 text-center">
            <img src="{{ asset('../img/logo.png') }}" alt="twitter" height="80">
            <img src="{{ asset('../img/148.png') }}" alt="instagram" height="80">
        </div>
        <div class="col-12 col-md-4 mt-3 text-right" style="color: #FFFFFF">
            Mentions légales </br>Contacts
        </div>
    </div>
</div>





{#© 2020 Copyright: Hackathon 2020#}
