<div class="container-fluid" id="section1" style="background-color: #F4F3F2; margin: 0px; min-height: 100vh">

        <img src="{{ asset('../img/fonc2.png') }}" alt="fond" style=" width: 100%"/>
</div>

<div class="container-fluid" style="background-color: #2B2E34; color: white; margin: 0px; min-height: 70vh; z-index: 1">
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="{{ asset('../img/people.jpg') }}" alt="people" style="width: 95%; height: auto; margin-top: 30px; margin-left: 100px;">
        </div>
        <div class="col-12 col-md-6">

            <div class="container">
                <div>
                    <img src="{{ asset('../img/bandeauorange.jpg') }}" alt="orange" style="margin-top: 50px">
                    <h1 style="margin-top: 1px; margin-left: 65px; font-size: 72px; position: absolute; top: 70px">PROMESSE</h1>
                </div>
                <img src="{{ asset('../img/feuilleorange.png') }}" alt="feuille" style="width: 15%; transform: rotate(25deg); margin-left: 470px; margin-top: -100px;">
                <p style="margin-left: 100px; margin-top: 50px; margin-right: 30px; font-size: 18px; position: relative"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci aliquam atque beatae consequatur consequuntur, distinctio
                        eligendi enim et eveniet facilis fuga labore magnam minus modi obcaecati
                        odit provident temporibus vel.</span><span>Animi consequatur ea eius enim fugit
                        illum incidunt laborum maxime mollitia necessitatibus nulla quaerat, quibusdam reprehenderit
                        saepe sed sequi similique tempore, temporibus! At, eos explicabo facere ipsam neque praesentium
                        veritatis.</span><span>Aut deleniti dignissimos distinctio dolor dolorem eaque ex exercitationem
                        facilis impedit laborum magni maiores nobis optio, perferendis porro qui quidem, sequi totam veniam
                        voluptatem! Illum iste nesciunt quia quod veritatis.</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #D56C3B; text-align: center; min-height: 70vh; z-index: 0; position: relative;">
    <div class="row" style="position: relative">
        <a href="{{ path('app_register') }}">
        <img src="{{ asset('../img/inscrire.png') }}" alt="inscrire" style="width: 25%; margin-top: -50px; margin-left: 0px; position: absolute; top: -30px; left: 725px; z-index: 5"></a>
        <!--<h1 style="margin-top: 1px; margin-left: 65px; font-size: 48px; position: absolute; top: -30px; left: 725px; color: white">
            <a href="{{ path('app_register') }}" style="color: white">
            S'INSCRIRE
            </a>
        </h1>-->
        <img src="{{ asset('../img/insecte.png') }}" alt="insecte" style="width: 10%; transform: rotate(-65deg); position: absolute; z-index: 3; top: -170px; right: 200px;">
        <div class="col-12 col-md-3">
            <img src="{{ asset('../img/profil.png') }}" alt="noir" style="width: 70%; margin-top: -30px; right: 165px; position: absolute">
            <img src="{{ asset('../img/crayon.png') }}" alt="crayon" style="width: 45%; margin-left: 350px; margin-top: 100px">
            <h1 style="margin-top: 15px; margin-left: 300px; font-size: 48px; position: absolute; color: white;">DESIGNER</h1>
            <div class="col-md-12" style="margin-left: 200px; margin-top: 90px; color: white">
            <p>
                <span>Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Ea enim expedita laboriosam
                    repellat. Aperiam atque eos illo libero natus nostrum odio omnis,
                    pariatur perferendis perspiciatis quidem quis rem totam vero.
                </span>
            </p>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <img src="{{ asset('../img/souris.png') }}" alt="souris" style="width: 45%; transform: rotate(15deg); margin-left: 350px; margin-top: 125px">
            <h1 style="margin-top: 50px; margin-left: 280px; font-size: 48px; position: absolute; color: white; z-index: 2">DÉVELOPPEUR</h1>
            <div class="col-md-12" style="margin-left: 225px; margin-top: 123px; color: white">
            <p style="position: absolute; z-index: 1;">
                <span>Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Ea enim expedita laboriosam
                    repellat. Aperiam atque eos illo libero natus nostrum odio omnis,
                    pariatur perferendis perspiciatis quidem quis rem totam vero.
                </span>
            </p>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <img src="{{ asset('../img/ampoule.png') }}" alt="ampoule" style="width: 30%; margin-left: 370px; margin-top: 100px">
            <div class="col-md-6">
            <h1 style="margin-top: 5px; margin-left: 290px; font-size: 48px; position: absolute; color: white">MARKETING</h1>
            </div>
            <div class="col-md-12" style="margin-left: 230px; margin-top: 78px; color: white">
            <p>
                <span>Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Ea enim expedita laboriosam
                    repellat. Aperiam atque eos illo libero natus nostrum odio omnis,
                    pariatur perferendis perspiciatis quidem quis rem totam vero.
                </span>
            </p>
            </div>
        </div>

    </div>
</div>

