{% extends 'base.html.twig' %}

{% block title %}Hackathon 2020{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .form-control {
            border: 1px solid #D56C3B;
            background-color: #2B2E34;
            color: #ffffff;
        }

        label.required {
            display: none;
        }

        input:focus {
            background-color: grey;
        }
    </style>

{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    {% include 'header.html.twig' %}
    {% include 'body.html.twig' %}

    <div class="container-fluid" id="contact"
         style="background-color: #2B2E34; color: white; margin-top: 100px; min-height: 90vh; position: relative">
        <img src="{{ asset('../img/papillon.png') }}" alt="champ"
             style="width: 20%;  position: absolute; z-index: 10; top: -100px; left: 750px">
        <div class="col-12 col-md-3">
            <img src="{{ asset('../img/rejoindre.png') }}" alt="rejoindre"
                 style="width: 100%; margin-top: 30px; margin-left: -50px;">
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4" style="margin-top: 75px">
                {{ form_row(form.lastname) }}
            </div>
            <div class="col-md-4" style="margin-top: 75px">
                {{ form_row(form.firstname) }}
            </div>
            <div class="col-md-4" style="margin-top: 75px">
                <div class="form-check">
                    {{ form_widget(form.choix) }}
                </div>
            </div>
            <br>
            <div class="col-md-4" style="margin-top: 100px">
                {{ form_row(form.email) }}
            </div>
            <div class="col-md-4" style="margin-top: 100px">
                {{ form_row(form.plainPassword) }}
            </div>
            <div class="col-md-4" style="margin-top: 100px">
                {{ form_row(form.company) }}
            </div>
            <div class="col-md-8" style="margin-top: 100px">
                {{ form_row(form.description) }}
            </div>
            <div class="col-md-4">
                <img src="{{ asset('../img/plante.png') }}" class="img-fluid" alt="plante" style="transform: rotate(-15deg); width: 45%; margin-top: 50px; left: 150px; position: absolute">
            </div>
            <div class="col-md-12 mt-3">
                <button type="submit" class="btn btn-warning mt-3" style="background-color: #D56C3B; color: white; border-color: #D56C3B; width: 200px">Valider
                </button>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
    {% include 'footer.html.twig' %}
{% endblock %}
