{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .bg-light{
            background-color: lightgray;
        }
    </style>
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('app_default_home') }}"><img src="{{ asset('img/logoOrange.png') }}" width="50px" height="50px"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="{{ path('app_default_home') }}">Accueil <span class="sr-only">(current)</span></a>#}
{#            </li>#}
            {% if not(is_granted('IS_AUTHENTICATED_FULLY')) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li>
            {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('projet_index') }}">Projets</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('elearning') }}">E-learning <span class="sr-only">(current)</span></a>
                </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_index') }}">Gestion Utilisateurs</a>
                </li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>