{{ form_start(form) }}
<div class="row">
    <div class="col-md-8 order-2 order-md-1">
        <div class="row">
            <div class="col-md-8 mb-1">
                {{ form_widget(form) }}
            </div>
            <div class="col-md-8 mb-1">
                <button class="btn btn-block btn-primary">{{ button_label|default('Enregistrer') }}</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
