{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <style>
        .btn.btn-primary {
            background-color: #D56C3B !important;
            border-color: #D56C3B !important;
        }
        .btn {
            box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
            text-align: center;
        }
        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1.25rem;
        }
        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }
        input {
            -webkit-writing-mode: horizontal-tb !important;
            text-rendering: auto;
            color: -internal-light-dark-color(black, white);
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: start;
            -webkit-appearance: textfield;
            background-color: -internal-light-dark-color(white, black);
            -webkit-rtl-ordering: logical;
            cursor: text;
            margin: 0em;
            font: 400 11px system-ui;
            padding: 1px;
            border-width: 2px;
            border-style: inset;
            border-color: initial;
            border-image: initial;
        }
        .form-control {
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        textarea {
            overflow: auto;
            resize: vertical;
        }
        body{
            background-color: #2B2E34 !important;
        }
        h1{
            color: #D56C3B;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'navbarBack.html.twig' %}
<section class="mt-3">
    <div class="container">
        <div class="row align-items-center mb-3">
            <div class="col-md-6">
                <h1>Modifier un utilisateur</h1>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-primary" href="{{ path('user_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}