{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

    <style>
        .btn.btn-primary {
            background-color: #D56C3B !important;
            border-color: #D56C3B !important;
        }
        .btn {
            box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
            text-align: center;
        }
        table {
            border-spacing: 2px;
        }
        table thead th {
            border: none!important;
            text-align: center;
        }
        table td {
            text-align: center;
        }
        table {
            border-spacing: 2px;
        }
        table thead th {
            border: none!important;
            text-align: center;
        }
        table td {
            text-align: center;
        }
        body{
            background-color: #2B2E34 !important;
        }
        h1{
            color: #D56C3B;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'navbarBack.html.twig' %}
<section class="mt-3">
    <div class="container-fluid">
        <div class="row align-items-center mb-3">
            <div class="col-md-6">
                <h1>Liste des utilisateurs</h1>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-primary" style="background-color: #D56C3B; border-color: #D56C3B" href="{{ path('user_new') }}"><i class="fas fa-plus"></i> Ajouter un utilisateur</a>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr style="background-color: #FFFFFF">
                    <th>Email</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr style="background-color: #FFFFFF">
                    <td>{{ user.email }}</td>
                    <td>{{ user.choix }}</td>
                    <td>
                        <a class="btn btn-primary" style="background-color: #D56C3B; border-color: #D56C3B" href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-search-plus"></i><span> Voir</span></a>
                        <a class="btn btn-primary" style="background-color: #D56C3B; border-color: #D56C3B" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i><span> Modifier</span></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun utilisateur</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>


{% endblock %}
