{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}


 {% block stylesheets %}
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

     <style>
         .btn.btn-primary {
             background-color: #D56C3B !important;
             border-color: #D56C3B !important;
         }
         .btn {
             box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
             text-align: center;
         }
         table {
             border-spacing: 2px;
         }
         table thead th {
             border: none!important;
             text-align: center;
         }
         .table td, .table th {
             padding: .75rem;
             vertical-align: top;
             border-top: 1px solid #dee2e6;
         }
         .table td{
             text-align: center;

         }
         table td {
             border: 1px solid #e2e8f0;
             padding: .5rem 1rem!important;
             vertical-align: middle!important;
         }
         table th {
             border: 1px solid #e2e8f0;
             padding: .5rem 1rem!important;
             vertical-align: middle!important;
         }
         .btn.btn-danger {
             background-color: #c53030;
             border-color: #c53030;
         }
         body{
             background-color: #2B2E34 !important;
         }
         h1{
             color: #D56C3B;
         }
     </style>
 {% endblock %}

{% block body %}
    {% include 'navbarBack.html.twig' %}
<section class="mt-3">
    <div class="container">
        <div class="row mb-3 align-items-center">
            <div class="col-md-6">
                <h1>Utilisateur : {{ user.email }}</h1>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-primary sm-mb-1" href="{{ path('user_index') }}"><i class="fas fa-arrow-left"></i><span> Retour</span></a>
                <a class="btn btn-primary sm-mb-1" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i><span> Modifier</span></a>
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
        <table class="table table-striped">
            <tbody>
                <tr style="background-color: #FFFFFF">
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr style="background-color: #FFFFFF">
                    <th>Statut</th>
                    <td>{{ user.choix }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}